extends layout

block content
  div(class="row")
    div(class="col-md-12")
      span(class="error") #{status}
  form(id="loginForm" class="form-login" action="/login" method="POST")
    fieldset
      div(class="form-group")
        span(class="input-icon")
          input(class="form-control" name="username" placeholder="Tên đăng nhập")
          i(class="fa icons-form fa-envelope")
      div(class="form-group")
        span(class="input-icon")
          input(type="password" class="form-control password" name="password" placeholder="Mật khẩu")
          i(class="fa icons-form fa-lock")
      div(class="form-actions")
        div(class="form-group")
          input(class="btn btn-primary form-control" type="submit" value="ĐĂNG NHẬP")

